MONGODB_URI=mongodb+srv://Samar890:Samar_Maharjan49@cluster0.zpmx0jj.mongodb.net/recipe-nest?appName=Cluster0
MONGODB_DB=recipe-nest
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_FOLDER=recipe-nest
